article.post {
    padding-top: 20px;
}


#action_div{
    float: right;
    font-size: 14px;
}

#my_posting {
    margin-top: 50px;
    width: 100%;
    font-size: 30px;
    border: black;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    background: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.xnavbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.xnavbar-nav > li {
    display: inline-block;
    float:none;
}


section.content {
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 2px;
    border-color: #e9e1e1;
}



#mynav 
{
   top: 0px;
   margin:0px;  
   padding-top: 18px;
   padding: 0px 2px 2px 3px;    
   border-width: 2px;
   border-bottom-width:2px;
   border-bottom-color:#e9e1e1;
   border-bottom-style: solid;
   width: 100%;
   background: #f8f9fa;
}

#logo {
}

#mynav_child 
{
  display: flex;
  justify-content: center;
}

input.form-control { width: 400px!important; }

html {
  font-family: "Gotham SSm",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  background: #eee;
  /*padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;*/
}

div.show_category {
    display: block;    
    border: 1px solid lightgrey;
    margin: 5px;
    text-align: center;
    width: 70px;
}

div.company_name {
  font-family: serif;
  font-size: 0.95em;
}


body {
  background: lightgrey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}


select#cat {
  white-space: pre-line;
  margin-bottom: 10px; 
}


.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}
